includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - database/factories/
        - database/seeders/

    # Rule level
    level: 5

    # Less strict about magic properties and relationship access
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$#'

    excludePaths:
        - ./*/*/FileToIgnore.php

