includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/factories/
        - database/seeders/

    level: 9

    treatPhpDocTypesAsCertain: true
    checkMissingCallableSignature: true
    checkMissingVarTagTypehint: true

    ignoreErrors: []

    excludePaths:
        - ./*/*/FileToIgnore.php
        - app/Console/Commands/*
        - app/Providers/*
        - app/Exceptions/Handler.php (?)
        - app/Http/Kernel.php (?)
        - app/Http/Middleware/TrustProxies.php (?)